<object width="160" height="405">
  <param name="movie" value="https://images.elance.com/media/flash/widget/profile/profile-widget-160.swf?userId=7162174&catId=&defaultTab=1&rid=4ER8D">
  </param>
  <param name="allowFullScreen" value="false"></param>
  <param name="allowscriptaccess" value="always"></param>
  <embed src="https://images.elance.com/media/flash/widget/profile/profile-widget-160.swf?userId=7162174&catId=&defaultTab=1&rid=4ER8D" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="160" height="405"></embed>
</object>
