---
layout: null
bootstrap: true
---
<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body id="page-top">

    <nav id="mainNav" class="navbar navbar-expand-lg navbar-light fixed-top">
        <div class="container-fluid">
            <a class="navbar-brand page-scroll" href="#page-top">Reinhardt<small>.io</small></a>
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbar-collapse-1" aria-controls="navbar-collapse-1" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="navbar-collapse-1">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link page-scroll" href="#about">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ site.baseurl }}/blog">Blog</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <header id="welcome">
      <div class="header-content">
        <h1>Ross Reinhardt</h1>
        <hr class="primary">
        <h3><em>Glad you stopped by!</em></h3>
        <a href="#about" class="btn btn-primary btn-xl page-scroll">Who is Ross?</a>
      </div>
    </header>

    <section id="about">
      <div class="container wrapper">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">About</h2>
                <hr class="primary">
                <div class="text-left">
                  <p>
                    Diving head first into complex technical problems has always
                    been something I enjoy. I love crafting quality software,
                    particularly for the web; and I ❤️  Ruby.
                  </p>
                  <p>
                    When I get tired of looking at the computer screen,
                    you'll find me pretending with the kids, gardening, and
                    growing grapes/ making wine; all of which are surprisingly
                    complex in their own ways :-)
                  </p>
                  <p>
                    Thanks for stopping by! You can check out <a href="{{ site.baseurl }}/blog">my blog</a>,
                    or <a href="{{ site.baseurl }}/contact">contact me</a>. You can also see what I've been up
                    recently on <a href="https://github.com/rreinhardt9">my github profile</a>.
                  </p>
                </div>
            </div>
        </div>
      </div>
    </section>

    {% include footer.html %}

  </body>

</html>
