@media print {
  body * {
    visibility: hidden;
  }
  #resume, #resume * {
    visibility: visible;
  }
  #resume {
    position: absolute;
    left: 0;
    top: 0;
    font-size: 11pt;

    .page-header {
      margin: 0px;
    }

    .col-sm-2 {
      width: 17%;
      float: left;
    }

    .col-sm-10 {
      width: 83%;
      float: left;
    }

    hr.primary {
      display: none;
    }
  }
}
