@media print {
  body * {
    visibility: hidden;
  }
  #resume, #resume * {
    visibility: visible;
  }
  #resume {
    position: absolute;
    left: 0;
    top: 0;
    font-size: 10pt;

    ul.resume-contacts {
      display: block !important;
    }

    .page-header {
      margin: 0px;
    }

    .col-sm-2 {
      width: 17%;
      float: left;
    }

    .col-sm-10 {
      width: 83%;
      float: left;
    }

    hr.primary {
      display: none;
    }
  }
}

#resume {
  ul.resume-contacts {
    display: none;
    list-style: none;
    li {
      display: inline;
      padding: 0px 10px;
    }
  }
}
