---
layout: default
title: Resume
bootstrap: true
---

<button type="button" name="print" class="btn btn-default" onclick="window.print()">Print Me</button>

<div id="resume">
  <div class="row text-center page-header">
    <h1>Ross Reinhardt</h1>
    <hr class="primary">
    <em>Leadership, technological understanding, and effective communication</em>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <p>
        {{site.data.resume.summary}}
      </p>
    </div>
  </div>

  <h3 class='text-center'>Experience</h3>
  <hr class="primary">

  <div class="row">
    <div class="col-sm-12">
      <p>
        {{site.data.resume.experience | markdownify}}
      </p>
    </div>
  </div>

  {% for job in site.data.resume.jobs %}
  <div class="row job">
    <div class="col-sm-3">
      <p>
        {{job.start | date: '%B, %Y'}}
        {% if job.end %}
        - {{job.end | date: '%B, %Y'}}
        {% else %}
        - Present
        {% endif %}
      </p>
    </div>
    <div class="col-sm-9">
      <b>{{job.title}}</b> - {{job.company}}, <em>{{job.location}}</em>
      <p>
        {{job.description}}
      </p>
    </div>
  </div>
  {% endfor %}

  <h3 class="text-center">Education</h3>
  <hr class="primary">

  {% for education in site.data.resume.education %}
  <div class="row">
    <div class="col-sm-3">
      {{education.date | date: '%B, %Y'}}
    </div>
    <div class="col-sm-9">
      <b>{{education.certification}}</b>
      <p>
        <em>{{education.institution}}</em>
      </p>
      <p>
        {{education.description}}
      </p>
    </div>
  </div>
  {% endfor %}
</div>
